{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Spieler bearbeiten: {{ spieler }}</h1>
    </div>
    {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}
