{% extends '::base.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Spieler bearbeiten: {{ spieler }}</h1>
    </div>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Speichern" />
    {{ form_end(edit_form) }}

{% endblock %}
