{% extends 'base.html.twig' %}

{% block content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for spieler in spielers %}
                <tr>
                    <td>{{ spieler.id }}</td>
                    <td>{{ spieler.vorname }} {{ spieler.nachname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

