{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Anreden</h1>
</div> 
<table class="table">
    <thead>
        <tr>
            <th>Anrede</th>
            <th>Brief</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.anrede }}</td>
            <td>{{ entity.brief }}</td>
            <td>
                        <a class="btn" href="{{ path('anrede_show', { 'id': entity.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>

                    </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
