 {% extends '::base.html.twig' %}

 {% block body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<h1>Hallo</h1>
     Hallo {{ name }}!
 {% endblock %}