{% extends 'base.html.twig' %}

{% block body %}
    <h1>Verband erstellen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Erstellen" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('verband_index') }}">Verbandsliste</a>
        </li>
    </ul>
{% endblock %}
