<h2>Mannschaften
    {% if isGrantedEdit == true %}
        <a style="float: right" class="btn btn-default" href="{{ path('mannschaft_new', { 'id': verein.id }) }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}  
</h2>
<table class="table">
    <tbody>
        {% for mannschaft in verein.mannschaften %}
            {{ include('LiganetCoreBundle:Mannschaft:rowContent.html.twig', { 'mannschaft': mannschaft, 'isGrantedEdit': isGrantedEdit }) }}
        {% endfor %}
    </tbody>
</table>
