{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Spieler anlegen</h1>
</div>

<form action="{{ path('spieler_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Erstellen</button>
    </p>
</form>

{% endblock %}
