{% if app.user.spieler %}
<h2>Hallo {{ app.user.spieler.vorname }}</h2>
<p>Alles zu meinem Verein:</p>
<p>
    <a class="btn" href="{{ path('verein_show', { 'id': app.user.spieler.verein.id }) }}">Mein Verein</a>
</p>

{% endif %}