<h2>Mannschaften
{% if isGrantedEdit == true %}
        <a style="float: right" class="btn" href="{{ path('mannschaft_new', { 'id': verein.id }) }}">
            <i class="icon-plus"></i>
        </a>
{% endif %}  
    </h2>
    <table class="table">
        <tbody>
        {% for mannschaft in entities %}
                <tr>
                    <td><a href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">{{ mannschaft }}</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
