{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Mannschaftsspieler anlegen</h1>
</div>

<form 
    action="{{ path('mannschaftspieler_create') }}" 
    method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="hidden" value="{{ entity.mannschaft.id }}" name="mannschaft_id" />
    <p>
        <button type="submit">Anlegen</button>
    </p>
</form>

{% endblock %}
