{% extends 'base.html.twig' %}

{% block content %}
    <h1>SpielRunde erstellen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Erstellen" />
    {{ form_end(form) }}
{% endblock %}
