<h2>Ergebnisse eintragen</h2>
<table class="table">
    {% for begegnung in begegnungen %}
        <tr>
            <td>{{ begegnung.mannschaft1 }} : {{ begegnung.mannschaft2 }}</td>
            <td>{% if is_granted('edit', begegnung.spielRunde ) %}
                <a class="btn btn-default" href="{{ path('begegnung_edit', { 'id': begegnung.id }) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                {% endif %}</td>
        </tr>
    {% endfor %}
    </table>
