{% extends 'base.html.twig' %}

{% block content %}
    <h1>Spieltag anlegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}<p>
        <button type="submit">Erstellen</button>
    </p>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('spieltag_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
