{% extends 'LiganetCoreBundle::base.html.twig' %}
{% block content_head %}
<div class="hero-unit">
    <h1>Liganet</h1>
    <p>Willkommen in der Web-Applikation zur Verwaltung der Pétanque-Liga</p>
</div>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span4">
        {{ render(controller('LiganetCoreBundle:Spieler:showStart')) }}
    </div>
</div>
{% endblock %}

