{% extends '::base.html.twig' %}
{% block content_head %}
<div class="hero-unit">
    <h1>Liganet</h1>
</div>
{% endblock %}
{% block content %}
<div  class="span4">
    {% render "LiganetCoreBundle:Verband:showStart" with {'max': 3} %}
</div>
{% endblock %}

