{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Verein hinzufügen</h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Erstellen" />
    {{ form_end(form) }}

{% endblock %}
